#Android Plugin Build
android/build
android/.build_version
android/plugins/.gradle
android/plugins/build
android/plugins/godot-nfc/.gradle
android/plugins/godot-nfc/.idea
android/plugins/godot-nfc/build

#Resources
*.import
*.png